@import url('https://fonts.googleapis.com/css2?family=Syne:wght@600;800&display=swap');

:root {
  --primary: #F3B928;
  --secondary: #0000F9;
  --dark: #2C2C2C;
  --light: #FAFAFA;
  --semiBold: 600;
  --extraBold: 800;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  background-color: var(--light);
  padding: 0;
  font-family: Syne, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 17px;
  font-weight: 600;
}

h1, h2 {
  margin: 0;
  font-size: 1.5rem;
  line-height: 120%;
  text-transform: uppercase;
}

h1 span {
  font-size: 2rem;
}

h3 {
  font-weight: var(--extraBold);
}

h3, p {
  margin: 0;
  font-size: 1rem;
  line-height: 120%;
}

p span {
  font-size: 1.9rem;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
  font-size: 1rem;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Size M */

@media (min-width: 900px) {
  h1, h2 {
    font-size: 2.5rem;
  }

  h1 span {
    font-size: 3.5rem;
  }

  h3, p {
    font-size: 1.5rem;
  }

  ul li {
    font-size: 1.5rem;
  }
}
