@import url('https://fonts.googleapis.com/css2?family=Syne:wght@600;800&display=swap');

:root {
  --primary: #F3B928;
  --secondary: #0000F9;
  --dark: #2C2C2C;
  --light: #FAFAFA;
  --semiBold: 600;
  --extraBold: 800;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  background-color: var(--light);
  padding: 0;
  font-family: Syne, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1rem;
  font-weight: 600;
}

a {
  color: inherit;
  text-decoration: none;
}

